@media only screen and (max-width: 800px) {
/*nav*/
#homeShopLogo{
    width: 120px;
}
.elem-1{
    height: 47px;
}
    /*Welcome*/
    #welcomeTo{
        font-size:10vw;
    }
    #shopName{
        font-size:6.2vw;
    }
    .main_content{
        width: 100%;
        color: white;
        display: none;
        margin-left: 15px;
      }

      /*products*/
      .image-list-small {
        max-width: 100vw;
      }
      .image-list-small li {        
        width: 160px;
        margin: 10px 10px;
      }
      .image-list-small li > a {
        height: 160px;
      }
      .image-list-small .details h3 a {
        font-size: 4vw;
      }
      
}
